*.so
*.swp
CMakeCache.txt
CMakeFiles
CTest*.cmake
Makefile
Testing
__
centenginestats
cmake_install.cmake
conf/*.cfg
conf/objects/*.cfg
debug
doc/_build
lib*.a
tags
test-coverage
ut
build/centengine
build/compile_command.json
